{{#each classrooms as |class|}}
  {{log class}}
  <section data-id="{{class._id}}">
    <div>
    <h3>
      {{class.classname}}
    </h3>
    <h3>
      {{class.subject}}
    </h3>
  </div>
  </section>
  {{/each}}
