  <form id="create-quiz">
    <input type="text" class="form-control inputs" name="quiz[title]" placeholder="Quiz Title" required>
    <input type="number" class="form-control inputs" name="quiz[numOfQuestions]" placeholder="Number of Questions" required>
    <br>
    <!-- <input type="text" class="form-control inputs" name=quiz[isActive] required> -->
    <button type="submit" class="btn primary-btn">Create Quiz</button>
  </form>
  <button type="click" class="btn primary-btn back-to-td">Back</button>
