<form id="add-student-form">
  <input type="text" autocomplete="off" class="form-control inputs" name="user[email]" placeholder="Student Email" >
  <button class="btn primary-btn add-student-button"> Add Student </button>
</form>
  <form id="create-class-form">
    <div class="form-group create-class-form">
      <input type="text" autocomplete="off" class="form-control inputs" name="classroom[classname]" placeholder="Classroom Name" required>
      <input type="text" autocomplete="off" class="form-control inputs" name="classroom[subject]" placeholder="Class Subject" required>
    </div>
    <button type="submit" class="btn primary-btn">Create Class</button>
  </form>
