  <form id="create-class-form">
    <div class="form-group create-class-form">
      <input type="text" autocomplete="off" class="form-control inputs" name="classroom[classname]" placeholder="Classroom Name" required>
      <input type="text" autocomplete="off" class="form-control inputs" name="classroom[subject]" placeholder="Class Subject" required>
    </div>
    <button type="submit" class="btn primary-btn">Add Students</button>
  </form>
