  <form id="create-question">
    <div class="form-group">
      <input type="text" class="form-control inputs" name="question[title]" placeholder="Add Question Text" required>
      <br>
      <input type="text" class="form-control inputs" name="question[correctAnswer]" placeholder="Correct Answer Text" required>
      <input type="text" class="form-control inputs" name="question[answerTwo]" placeholder="Answer Two Text" required>
      <input type="text" class="form-control inputs" name="question[answerThree]" placeholder="Answer Three Text" required>
      <input type="text" class="form-control inputs" name="question[answerFour]" placeholder="Answer Four Text" required>
      <br>
      <!-- <input type="text" class="form-control inputs" name="question[quizOwner]" placeholder="Quiz ID" required> -->
      <button type="submit" class="btn primary-btn next-question">Save Question</button>
    </div>
  </form>
  <!-- <button type="submit" class="btn btn-dark next-question">Next Question</button> -->
  <button type="submit" class="btn primary-btn finish-quiz" disabled>Finish</button>
