<form data-id="{{quiz._id}}" class ='edit-quiz'>
  <input type="text" class="form-control inputs" name="quiz[title]" placeholder="Quiz Title" required>
  <input type="number" class="form-control inputs" name="quiz[numOfQuestions]" placeholder="Number of Questions" required>
  <input type="datetime-local" class="form-control inputs" name="quiz[startTime]" required>
  <p>Make quiz active?
  <input type="radio" id="true" name="quiz[isActive]" value="true">
  <label for="true">Yes</label>
  <input type="radio" id="false" name="quiz[isActive]" value="false">
  <label for="false">No</label>
  <br>
  <button type="submit" class="btn primary-btn">Edit Questions</button>
</form>
