@import '~bootstrap/scss/bootstrap';

$green: rgba(0, 153, 51, .9);
$header-font: #f2f2f2;

body {
  display: grid;
  min-height: 80vh;
  margin: 0 auto;
}

.box {
  border: solid $green 2px;
  border-radius: 20px;
  min-height: 40vh;
  max-width: 400px;
  margin: 15px;
}

header {
  max-width: 100vw;
  height: 10vh;
  background-color: $green;
  color: $header-font;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  padding: 20px;
  margin-bottom: 10px;
}

.form-group {
  max-width: 50vw;
}

.after-auth {
  display: none;
}

.single-quiz-link:hover {
  text-decoration: underline;
}

.after-settings {
  display: none;
}

.my-custom-scrollbar {
  max-height: 40vh;
  overflow: auto;
  position: relative;
}

.table-wrapper-scroll-y {
  display: block;
}

.StudentDash {
  display: none;
}
