@import '~bootstrap/scss/bootstrap';

$green: rgba(0, 153, 51, .9);
$header-font: #f2f2f2;
$primary-btn-color: #f2f2f2;
$primary-btn-bkgd-color: #595959;

body {
  // background-color: #353535;
  display: grid;
  min-height: 80vh;
}

.splashbackgroundimg {
background-image: url(public/splashimage.svg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 100vh;
width: 100%;
}

body html {
  margin: 0 auto;
  padding: 0;
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

nav {
  background-color: $green;
  color: $header-font;
  font-family: 'Nunito', sans-serif;
  height: 10vh;
  margin-bottom: 10px;
  max-width: 100vw;
  padding: 20px;
  // text-align: center;
}

.auth-form {
  text-align: center;
}

.after-auth {
  display: none;
}

.box {
  border: solid $green 2px;
  border-radius: 20px;
  height: 300px;
  margin: 15px;
  max-width: 400px;
  min-height: 40vh;
}

.btn:disabled,
.btn:disabled:hover {
  background-color: $primary-btn-bkgd-color;
  border: 2px solid $primary-btn-bkgd-color;
  color: $primary-btn-color;
  opacity: .5;
}

.change-password-view {
  display: none;
  text-align: center;
}

.classroom-list-schedule {
  opacity: .75;
}

.container-fluid {
  margin-bottom: 15px;
}

.form-control {
}

.input-group-prepend{
  width: 100%;
}

.my-custom-scrollbar {
  max-height: 40vh;
  overflow: auto;
  position: relative;
}

.btn {
  margin-top: 5px;
}

.primary-btn {
  background-color: $primary-btn-bkgd-color;
  border: 2px solid $primary-btn-bkgd-color;
  border-radius: 10px;
  color: $primary-btn-color;
}

.primary-btn:focus {
  box-shadow: none;
}

.primary-btn:hover {
  background-color: $primary-btn-color;
  border: 2px solid $primary-btn-bkgd-color;
  border-radius: 10px;
  color: $primary-btn-bkgd-color;
}

.quiz-date-time {
  width: 250px;
}

.quiz-to-teacher-dash {
  margin: 10px;
}

.schedule-quiz-bar {
  border: 1px solid #404040;
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 20px;
  text-align: center;
}

.schedule-quiz-item {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

.settings-link,
.settings-link:hover {
  color: $header-font;
}

.settings-link:active {
  opacity: .75;
}

.single-quiz-link:hover,
.edit-quiz-link:hover {
  cursor: pointer;
  text-decoration: underline;
}


.single-quiz > h4 {
  text-align: center;
}

.sq {
  margin-left: 15px;
  margin-right: 15px;
}

.StudentDash {
  margin: 10px;
}

.table-wrapper-scroll-y {
  display: block;
}

.student-classroom {
  background-color: $green;
  color: #fff;
  text-align: center;
  min-height: 30vh;
  height: 200px;
}

.student-quiz-alert {
  background-color: $green;
  border: solid $green 2px;
  border-radius: 20px;
  color: #fff;
  height: 80px;
  // max-width: 1000vw;
  min-height: 10vh;
}

.splash-login {
  background-color: purple;
  border-radius: 30px;
  margin-top: 20vh;
  min-height: 10vh;
  width: 400px;
  min-width: 230px;
  padding: 20px;
}

.sales-pitch {
  background-color: #353535;
  color: #f5f5f5;
  padding: 10px 50px 10px 50px;
}

.sign-up-form{
  display: none;
}
