<form id="add-student-form">
  <input type="text" class="form-control inputs" name="student[email]" placeholder="Student Email" >
  <button class="btn btn-secondary add-student-button"> Add Student </button>
</form>
  <form id="create-class-form">
    <div class="form-group create-class-form">
      <input type="text" class="form-control inputs" name="classroom[classname]" placeholder="Classroom Name" required>
      <input type="text" class="form-control inputs" name="classroom[subject]" placeholder="Class Subject" required>
    </div>
    <button type="submit" class="btn btn-dark">Create Class</button>
  </form>
